body {
  margin: 0;
}

label {
  font-family: 'Arvo', serif;
}

.contenedor {
  max-width: 1280px;
  width: 74%;
  margin: auto;
  padding: 25px;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  border: solid;
  border-radius: 46px;
  box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37);
  margin-top: 35px;
}

header img {
  width: 100px;
  padding: 10px;
}

header ul li {
  list-style: none;
  text-align: center;
}

h1 {
  margin: 5px;
}

.entidad-res input[type="text"] {
  width: 100%;
}

ul {
  padding-left: 15px;
}

.resaltar {
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  -webkit-box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 10px;
}

/* configuracion de la parte de DATOS PERSONALES */

.contenedor-datos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 23px;
  border-style: groove;
  border-color: black;
  padding: 15px;
  
}

/* .contenedor-datos .datos {
  margin-top: 10px;
  width: 284px;
} */

input[type="text"],input[type="date"] {
  width: 95%;
  border: 0;
  border-bottom: 1px solid #5cb8ff;
  margin: 0;
  padding: 0;
}

#datosPersonales h2 {
  margin: 50px 0px 20px 0px;
  padding-left: 30px;
}

.contenedor-datos div ul li {
  list-style: none;
  padding-top: 8px;
}

.datos {  
  width: 290px;
}

.datos-d {  
  width: 440px ;
}

/*  configuracion de datos academicos */

.datos-u {
  width: 100%;
  padding-right: 10px;
  padding-bottom: 15px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.datos-u ul li{
  width: 100%;
}

  th, td {
   border: 1px solid black;
 }

 /* cofiguracion de experiencia laboral */

 h3 {
   border-top: 1px solid black; 
   border-bottom: 1px solid black;
   text-align: center;
   /* margin-right: 10px; */
 }

 .contenido  ul li {
  border: 1px solid;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
 }

 .contenido ul {
   display: flex;
 }

 .contenido {
   border-left: 1px solid;
   border-right: 1px solid;
   margin-right: 10px;
 }